@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
	--light-danger: #FECDD3;
    --success: #388E3C;
    --danger : #D32F2F;
    --warning: #FBC02D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body{
    background: var(--grey);
    overflow-x: hidden;
}

.insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

 .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

 .insights li .bx-football{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .insights li .bx-football{
    background: var(--light-primary);
    color: var(--primary);
}

.insights li .bx-trash{
    color: var(--danger);
}

.insights li .bx-edit{
    color: var(--warning);
}

 .insights li .info h3{
    font-size: 22px;
    font-weight: 600;
    color: var(--dark);
}

 .insights li .info p{
    color: var(--dark);
}
